body{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    flex-direction: column;
}

.logo_title{
    margin-bottom: 16px;
}

.text{
    font-family: Inter;
}

.text_semibold{
    font-weight: 600;
}

.text_tight{
    letter-spacing: -0.025em;
}

.text_lg{
    font-size: 1.125rem;
    line-height: calc(1.75/1.125);
}

.text_xxl{
    font-size: 1.5rem;
    line-height: calc(2/1.5);
}

.text_xxxxl{
    font-size: 2.25rem;
    line-height: calc(2.5/2.25);
}

.text_center{
    text-align: center;
}

.flex{
    display: flex;
}

.flex_center{
    align-items: center;
    justify-content: center;
}